@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import url('/fonts/daikon/fonts.css');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.daikon {
  font-family: 'Daikon', sans-serif;
}
body {
  margin: 0;
  font-family: 'Daikon', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3d3e3f;
}

/* @media screen and (min-width: 1024px) {
  .product_image {
    width: 200px;
    height: 240px;
  }
} */
/* home grid layout  */
@media screen and (max-width: 390px) {
  .product_grid {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .home_img {
    width: 100%;
  }
}

/* header styles */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#sticky {
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
}
/* landing page bg */

.landing_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgb(37, 36, 36)
    ),
    url('https://d3u7b9fq2opvwp.cloudfront.net/upload-service/4257e464-fad0-4fd2-9fbf-7116d0355081:IMG_3467.JPG');
}

.blur-bg {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.login_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgb(37, 36, 36)
    ),
    url('https://d3u7b9fq2opvwp.cloudfront.net/upload-service/935ce589-c643-482d-97ed-791fa48e6e20:IMG_4674.jpg');
}

.we_are_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(112, 109, 109, 0.281)
    ),
    url('https://d3u7b9fq2opvwp.cloudfront.net/upload-service/30d9e9a0-80b6-482a-a5cd-bd56b547e867:IMG_4362.JPG');
}
.the_assemble_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(112, 109, 109, 0.281)
    ),
    url('/bg1.jpg');
}
.campaign_modal {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(39, 37, 37, 0.699),
      rgba(39, 37, 37, 0.651)
    ),
    url('https://d3u7b9fq2opvwp.cloudfront.net/upload-service/1fbc9c18-d283-4af1-9873-7b54a6debcfc:WhatsApp%20Image%202024-05-13%20at%2017.24.45.jpeg');
}

.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  transform-origin: bottom;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* modal styles */
.l-modal__content {
  width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .l-modal__content {
    width: 85vw;
    max-width: 520px;
  }
}

.l-modal__body {
  padding: 0 1rem 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
}

@media screen and (min-width: 640px) {
  .l-modal__body {
    padding: 0 1.75rem 2rem;
  }
}

.l-modal__footer {
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .l-modal__footer {
    padding: 1.5rem 1.75rem;
  }
}

.l-modal__icons {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.l-modal__title {
  color: #2e3031;
  font-weight: 500;
  font-size: 18px;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 640px) {
  .l-modal__title {
    font-size: 24px;
    margin-top: 0.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 37px;
  }
}

.l-modal__title h3 {
  margin: 0;
}

.l-modal__title_no_icon {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 18px;
  width: 95%;
  text-align: center;
}

.l-modal__title_no_icon h3 {
  margin: 0;
}

.l-modal__desc {
  color: #858585;
  margin: 0;
}

.l-modal__icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.l-modal__icon--wrapper {
  display: none;
}

@media screen and (min-width: 640px) {
  .l-modal__icon--wrapper {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 80%;
    display: inline-block;
    box-shadow: 0px 0px 0px 8px #fef3f2;
  }
}

.l-modal__icon--wrapper svg {
  width: 100%;
  height: 100%;
}

.l-modal__back {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.l-modal__back span {
  margin-left: 0.5rem;
  color: #e60a2b;
}

@media screen and (min-width: 640px) {
  .l-modal__back {
    margin-top: 1rem;
  }
}

/* file uploader styles */

.file-uploader {
  overflow: auto;
  padding: 1rem 1.5rem 0.5rem;
  border: 1px solid #3d3e3f;
  margin-top: 8px;
  min-height: 160px;
  border-radius: 4px;
}

.file-uploader_body {
  border: 1px dashed #d9d9d9;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
}

.file-uploader_body_not_uploading {
  cursor: not-allowed;
}

.file-uploader_body .body_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.file-uploader_body .text {
  color: rgb(163, 163, 163);
}

.file-uploader_body .button_uploading {
  color: rgb(163, 163, 163);
  opacity: 0.4;
}

.file-uploader_body .button {
  font-weight: 500;
  color: #3d3e3f;
}

.file-uploader_body .button,
.file-uploader_body .button_uploading {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.file-uploader_file {
  background: #f5f4f4;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.file-uploader_file_main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 568px) {
  .file-uploader_file_main {
    gap: 1.5rem;
  }
}

.file-uploader_file_main_inner {
  width: 70px;
  height: 70px;
  border-radius: 9999px;
  background: #fff;
  padding: 0.5rem;
  object-fit: cover;
}

.file-uploader_file_main_inner div {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.file-uploader_file .duration_box {
  flex-grow: 1;
}

.file-uploader_file .duration_box label {
  font-size: 0.875rem;
  gap: 0.5rem;
  font-weight: 500;
  color: #4b4d4e;
}

.file-uploader_file .duration_box .text {
  font-size: 0.75rem;
  color: rgb(133, 133, 133);
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  gap: 7px;
}

.file-uploader_file .duration_box .text div {
  width: 0.25rem;
  height: 0.25rem;
  background-color: rgb(133, 133, 133);
  border-radius: 9999px;
}

.file-uploader_file .has_uploaded {
  background-color: rgba(183, 183, 183, 0.2);
  padding: 0.75rem;
  border-radius: 8px;
  display: flex;
}

.file-uploader_file .has_uploaded svg {
  cursor: pointer;
}

.file-uploader_file .has_uploaded p {
  color: rgb(230, 10, 43);
  font-weight: 600;
}

.file-uploader_file .has_uploaded span {
  color: rgb(133, 133, 133);
}

.file-uploader_file .uploading_text {
  font-size: 0.75rem;
  color: rgb(133, 133, 133);
}

.file-uploader_file .is_uploading {
  position: relative;
  overflow: hidden;
  height: 6px;
  border-radius: 0.375rem;
  background: #fff;
  width: 100%;
  max-width: 10%;
}

.file-uploader_file .is_uploading div {
  background-color: rgb(230, 10, 43);
  border-radius: 9999px;
}

.file-uploader_edit {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  cursor: pointer;
}

.file-uploader_edit p {
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

.file-uploader_multiple {
  display: flex;
  gap: 1rem;
  margin: 1.25rem 0;
  flex-direction: column;
}

.file-uploader_multiple .has_uploaded {
  background-color: rgba(183, 183, 183, 0.2);
  padding: 0.75rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-uploader_multiple .has_uploaded svg {
  cursor: pointer;
}

.file-uploader_multiple .has_uploaded p {
  color: rgb(230, 10, 43);
  font-weight: 600;
}

.file-uploader_multiple .has_uploaded span {
  color: rgb(133, 133, 133);
}

.file-uploader_multiple .has_uploaded_wrapper {
  padding: 1rem 0;
}

.file-uploader_multiple .multiple_wrapper {
  background: #fff;
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #4b4d4e;
  border-radius: 6px;
  border: 1px solid #ededee;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 568px) {
  /* .file-uploader_multiple {
    flex-direction: row;
  } */

  .file-uploader_multiple .multiple_wrapper {
    display: flex;
    align-items: center;
  }
}

/* Side modal styles */

.sidemodal {
  position: relative;
  height: 95%;
}

.sidemodal__close {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  stroke-width: 1px;
  stroke: #eaeaeb;
  filter: drop-shadow(0px 2px 4px rgba(69, 75, 84, 0.1));
  top: 0px;
  left: -6px;
  z-index: 9999999999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
