@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3d3e3f;
}

@media screen and (min-width: 1024px) {
  .product_image {
    width: 200px;
    height: 240px;
  }
}

.l-modal__content {
  width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .l-modal__content {
    width: 85vw;
    max-width: 520px;
  }
}

.l-modal__body {
  padding: 0 1rem 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
}

@media screen and (min-width: 640px) {
  .l-modal__body {
    padding: 0 1.75rem 2rem;
  }
}

.l-modal__footer {
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .l-modal__footer {
    padding: 1.5rem 1.75rem;
  }
}

.l-modal__icons {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media screen and (min-width: 640px) {
  .l-modal__icons {
    position: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }
}

.l-modal__no_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.l-modal__title {
  color: #2e3031;
  font-weight: 500;
  font-size: 18px;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 640px) {
  .l-modal__title {
    font-size: 24px;
    margin-top: 0.75rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 37px;
  }
}

.l-modal__title h3 {
  margin: 0;
}

.l-modal__title_no_icon {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 18px;
  width: 95%;
  text-align: center;
}

.l-modal__title_no_icon h3 {
  margin: 0;
}

.l-modal__desc {
  color: #858585;
  margin: 0;
}

.l-modal__icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.l-modal__icon--wrapper {
  display: none;
}

@media screen and (min-width: 640px) {
  .l-modal__icon--wrapper {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 80%;
    display: inline-block;
    box-shadow: 0px 0px 0px 8px #fef3f2;
  }
}

.l-modal__icon--wrapper svg {
  width: 100%;
  height: 100%;
}

.l-modal__back {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.l-modal__back span {
  margin-left: 0.5rem;
  color: #e60a2b;
}

@media screen and (min-width: 640px) {
  .l-modal__back {
    margin-top: 1rem;
  }
}

/* table styles */
.table {
  width: 100%;
  border: #3d3e3f;
}

.table.lg-and-above {
  display: none;
}

@media screen and (min-width: 1024px) {
  .table.lg-and-above {
    display: table;
    border: #3d3e3f;
  }

  .table__mobile {
    display: none;
  }
}

.table__head__row {
  color: #3d3e3f;
  border: #3d3e3f;
}

.table__head__row__text {
  font-weight: 300;
  padding: 0.5rem;
  text-align: left;
}

.table__data_checkbox {
  display: inline-flex !important;
  margin-left: 0.5rem;
  --tw-translate-y: 2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.table__loading {
  text-align: center;
  padding: 1rem;
}

.table__data_cell {
  padding: 1.5rem 0.5rem;
  text-align: left;
}

.table__row {
  text-align: left;
  font-weight: 500;
  border-bottom: 0.8px solid rgb(227 230 232);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.table__row__data {
  text-align: center;
}

.pagination_container {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
}

.pagination {
  text-align: center;
  margin: 16px 0px 8px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  height: 100%;
  background-color: #f7f7f7;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px 0 3px;
  color: #c4c4c4;
  font-weight: bold;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.pagination li a {
  font-size: 12px;
  padding: 0.35rem 0.65rem;
}

.pagination ul {
  display: flex;
  background-color: #fcb6c0;
}

.pagination_container .pagination_container {
  display: inline-flex;
  text-align: center;
  margin: 0.5rem 0 0 auto;
  justify-content: center;
  border-radius: 10px;
}

.pagination .previous,
.pagination .next {
  border: 1px solid #f0f0f0;
  font-weight: bold;
  color: #e60a2b;
}

.pagination .previous a,
.pagination .next a {
  padding: 2px;
}

.pagination .previous.pagination__link--disabled,
.pagination .next.pagination__link--disabled {
  background-color: rgba(87, 94, 100, 0.3);
  cursor: not-allowed;
}

.pagination .previous.pagination__link--disabled svg path,
.pagination .next.pagination__link--disabled svg path {
  fill: #e1e6ea;
}

.pagination .pagination__link--active {
  color: #e60a2b !important;
  border: 1px solid #fcb6c0 !important;
}
